#{extends 'main-secretaria.html' /}
#{set title:'SGE - Adicionar Turma' /}
<meta charset="utf-8" />

<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Adicionar uma nova turma</h4>
			</div>
			<div class="card-body">
				<div id="typography">
					<div class="row">
						<div class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">
												<form name="form1" action="@{Turmas.salvarTurma}" method="post">
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<input type="hidden" value="${turma?.id}"  name="turma.id">
																 <label
																	class="bmd-label-floating">Ano escolar</label> <input
																	type="text" name="turma.anoEscolar" value="${turma?.anoEscolar}" class="form-control">
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Nome da turma</label> <input
																	type="text" class="form-control" name="turma.nomeTurma" value="${turma?.nomeTurma}">
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Número da Sala</label> <input
																	type="text" name="turma.numeroSala" value="${turma?.numeroSala}" class="form-control">
															</div>
														</div>
														
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Turno</label> <input
																	type="text" name="turma.turno" value="${turma?.turno}" class="form-control">
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Disciplinas</label><br/>
																#{list items: disciplinas, as:'disciplina'}
																	<label>${disciplina?.nomeDisciplina}</label>
																	<input type="checkbox" name="turma.disciplinas.id" value="${disciplina?.id}" ${(turma?.id !=null && turma?.disciplinas?.id == disciplina.id)? 'checked':'' }>
																#{/list}
															</div>
														</div>
														
													</div>


													<button type="submit" class="btn btn-success pull-right">Cadastrar</button>
													<button type="reset" class="btn btn-primary pull-right">Limpar
														Campos</button>
													<div class="clearfix"></div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	