#{extends 'main-secretaria.html' /} #{set title:'SGE - Realizar
matrícula' /}
<meta charset="utf-8" />
<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Matricular um novo Aluno</h4>
			</div>
			<div class="card-body">
				<div id="typography">
					<div class="row">
						<div class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">
												<form name="form1" action="@{Alunos.salvarAluno}"
													method="post">
													<div class="row">
														<input type="hidden" value="${aluno?.id}" name="aluno.id">


														<div class="col-md-12">
															<a>DADOS DO ALUNO</a>
														</div>
														<hr></hr>
														
														#{if aluno?.foto?.exists()}
														<div class="col-md-6">
															<div class="form-group">
															   	<img height="150px" width="150px" src="@{Alunos.fotoAluno(aluno.id)}"><br>
															   	<div class="form-group">
														            <div class="form-check">
														              <label class="form-check-label">
														              	<input class="form-check-input" type="checkbox" name="excluirFoto">Excluir Imagem
														              </label>
														            </div>
														        </div>
												        	</div>
														</div>
												        
													   #{/if}
													   <br>
													    
													   			<input type="file" value="${aluno?.foto}" name="aluno.foto">
													  

														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">Nome completo
																</label> <input type="text" name="aluno.nome"
																	value="${aluno?.nome}" class="form-control" >
																	#{ifError 'aluno.nome'}
													        	   <div class="invalid-feedback">#{error 'aluno.nome' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label">Data de Nascimento</label> <input
																	type="date" name="aluno.dataNascimento"
																	value="${aluno?.dataNascimento}" class="form-control">
																	#{ifError 'aluno.dataNascimento'}
													        	   <div class="invalid-feedback">#{error 'aluno.dataNascimento' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Senha</label> <input
																	type="password" name="aluno.senha"
																	value="${aluno?.senha}" class="form-control">
																	#{ifError 'aluno.senha'}
													        	   <div class="invalid-feedback">#{error 'aluno.senha' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
													</div>
													<div class="row">
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Naturalidade</label> <input
																	type="text" name="aluno.naturalidade" id="cidade3"
																	value="${aluno?.naturalidade}" class="form-control">
																	#{ifError 'aluno.naturalidade'}
													        	   <div class="invalid-feedback">#{error 'aluno.naturalidade' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">UF</label> <input
																	type="text" name="aluno.ufNaturalidade" id="estado3"
																	value="${aluno?.ufNaturalidade}" class="form-control">
																	#{ifError 'aluno.ufNaturalidade'}
													        	   <div class="invalid-feedback">#{error 'aluno.ufNaturalidade' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<select class="form-control"><option
																		value="${aluno?.sexo}" class="form-control">SEXO</option>
																
																<option
																		value="${aluno?.sexo}" class="form-control">MASCULINO</option>
																		<option
																		value="${aluno?.sexo}" class="form-control">FEMININO</option>
																		</select>
																#{ifError 'aluno.sexo'}
													        	   <div class="invalid-feedback">#{error 'aluno.sexo' /}</div>  	   		 
													        	   #{/ifError}		
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Matrícula</label> <input
																	type="text" name="aluno.matricula"
																	value="${aluno?.matricula}" class="form-control">
																	#{ifError 'aluno.matricula'}
													        	   <div class="invalid-feedback">#{error 'aluno.matricula' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<hr1></hr1>



														<div class="col-md-12">
															<div>
																<a>DOCUMENTAÇÃO</a>
															</div>
														</div>

														<hr></hr>



														<div class="col-md-4">
															<div class="form-group">
																<label class="bmd-label-floating">Certidão de
																	Nascimento Nº</label> <input type="text"
																	name="aluno.certidaoCivilNum"
																	value="${aluno?.certidaoCivilNum}" class="form-control">
																	#{ifError 'aluno.certidaoCivilNum'}
													        	   <div class="invalid-feedback">#{error 'aluno.certidaoCivilNum' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">Folhas</label> <input
																	type="text" name="aluno.folhaCertidao"
																	value="${aluno?.folhaCertidao}" class="form-control">
																	#{ifError 'aluno.folhaCertidao'}
													        	   <div class="invalid-feedback">#{error 'aluno.folhaCertidao' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-2">
															<div class="form-group">
																<label class="bmd-label-floating">Livro</label> <input
																	type="text" name="aluno.livroCertidao"
																	value="${aluno?.livroCertidao}" class="form-control">
																	#{ifError 'aluno.livroCertidao'}
													        	   <div class="invalid-feedback">#{error 'aluno.livroCertidao' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-4">
															<div class="form-group">
																<label class="bmd-label-floating">Cartório</label> <input
																	type="text" name="aluno.cartorioCertidao"
																	value="${aluno?.cartorioCertidao}" class="form-control">
																	#{ifError 'aluno.cartorioCertidao'}
													        	   <div class="invalid-feedback">#{error 'aluno.cartorioCertidao' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">CPF</label> <input
																	type="text" name="aluno.cpf" value="${aluno?.cpf}"
																	class="form-control">
																	#{ifError 'aluno.cpf'}
													        	   <div class="invalid-feedback">#{error 'aluno.cpf' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">RG (nº)</label> <input
																	type="text" name="aluno.rgNumero"
																	value="${aluno?.rgNumero}" class="form-control">
																	#{ifError 'aluno.rgNumero'}
													        	   <div class="invalid-feedback">#{error 'aluno.rgNumero' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Órgão
																	Expedidor</label> <input type="text" name="aluno.rgExpedidor"
																	value="${aluno?.rgExpedidor}" class="form-control">
																	#{ifError 'aluno.rgExpedidor'}
													        	   <div class="invalid-feedback">#{error 'aluno.rgExpedidor' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label">Data Expedição</label> <input
																	type="date" name="aluno.dataExpedicao"
																	value="${aluno?.dataExpedicao}" class="form-control">
																	#{ifError 'aluno.dataExpedicao'}
													        	   <div class="invalid-feedback">#{error 'aluno.dataExpedicao' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<hr1></hr1>
														<div class="col-md-12">
															<label class="bmd-label">FILIAÇÃO</label>
														</div>
														<hr></hr>



														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">Nome da Mãe </label> <input
																	type="text" name="aluno.nomeMae"
																	value="${aluno?.nomeMae}" class="form-control">
																	#{ifError 'aluno.nomeMae'}
													        	   <div class="invalid-feedback">#{error 'aluno.nomeMae' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">Nome do Pai </label> <input
																	type="text" name="aluno.nomePai"
																	value="${aluno?.nomePai}" class="form-control">
																	#{ifError 'aluno.nomePai'}
													        	   <div class="invalid-feedback">#{error 'aluno.nomePai' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<hr1></hr1>
														<div class="col-md-12">
															<a>ENDEREÇO</a>
														</div>
														<hr></hr>


														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">Rua</label> <input
																	type="text" name="aluno.rua" value="${aluno?.rua}"
																	class="form-control">
																	#{ifError 'aluno.rua'}
													        	   <div class="invalid-feedback">#{error 'aluno.rua' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Número</label> <input
																	type="text" name="aluno.numeroCasa"
																	value="${aluno?.numeroCasa}" class="form-control">
																	#{ifError 'aluno.numeroCasa'}
													        	   <div class="invalid-feedback">#{error 'aluno.numeroCasa' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Bairro</label> <input
																	type="text" name="aluno.bairro"
																	value="${aluno?.bairro}" class="form-control">
																	#{ifError 'aluno.bairro'}
													        	   <div class="invalid-feedback">#{error 'aluno.bairro' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">UF</label> <input
																	type="text" name="aluno.ufCidade"
																	value="${aluno?.ufCidade}" class="form-control" id="estado1">
																	#{ifError 'aluno.ufCidade'}
													        	   <div class="invalid-feedback">#{error 'aluno.ufCidade' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">Cidade</label> <input
																	type="text" name="aluno.cidade"
																	value="${aluno?.cidade}" class="form-control" id="cidade1">
																	#{ifError 'aluno.cidade'}
													        	   <div class="invalid-feedback">#{error 'aluno.cidade' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>

														

														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">CEP</label> <input
																	type="text" name="aluno.cep" value="${aluno?.cep}"
																	class="form-control">
																	#{ifError 'aluno.cep'}
													        	   <div class="invalid-feedback">#{error 'aluno.cep' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>


														<div class="col-md-12">
															<a>SELECIONE A TURMA</a>
														</div>
														<hr></hr>


														<div class="col-md-4">
															<select name="aluno.turma.id" class="form-control"
																required> 
																#{list items: turmas, as:'turma'}
																<option value="${turma?.id}" ${(aluno?.id !=null && aluno?.turma?.id == turma.id)? 'selected':'' }>${turma.nomeTurma}</option>
																#{/list}
															</select>
															#{ifError 'aluno.turma'}
													        	   <div class="invalid-feedback">#{error 'aluno.turma' /}</div>  	   		 
													        	   #{/ifError}
														</div>



													</div>


													<button type="submit" class="btn btn-success pull-right">Cadastrar</button>
													<button type="reset" class="btn btn-primary pull-right">Limpar
														Campos</button>
													<div class="clearfix"></div>
												</form>
												
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

