#{extends 'main.html' /}
<meta charset="utf-8" />
	<div class="content-wrapper">
		<div class="container-fluid">
			<form action="@{Alunos.salvarAluno}" method="post" class="form-control">
				<h1 align="center">Cadastro de Aluno</h1>
				<input type="hidden" value="${aluno?.id}"  name="aluno.id">
				<label>Nome: </label>
				<input type="text" name="aluno.nome" value="${aluno?.nome}" class="form-control"><br />
				<label>Senha: </label>
				<input type="password" name="aluno.senha" value="${aluno?.senha}" class="form-control"><br/>
				<label>CPF: </label>
				<input type="text" name="aluno.cpf" value="${aluno?.cpf}" class="form-control"><br />
				<label>Matricula: </label>
				<input type="text" name="aluno.matricula" value="${aluno?.matricula}" class="form-control"><br />	
				<label>Turma</label>
				<select name="aluno.turma.id" class="form-control">
				<option>---Selecione a Turma---</option>
				#{list items: turmas, as:'turma'}
					<option value="${turma?.id}">${turma.nome_turma}</option>
				#{/list}
				</select><br />
				<label>Rua: </label>
				<input type="text" name="aluno.rua" value="${aluno?.rua}" class="form-control"><br />
				<label>Bairro: </label>
				<input type="text" name="aluno.bairro" value="${aluno?.bairro}" class="form-control"><br />	
				<label>Data de Nascimento: </label>
				<input type="date" name="aluno.certificado_de_nascimento" value="${aluno?.certificado_de_nascimento}" class="form-control"><br />	
				<button type="submit" class="btn btn-success">Cadastrar</button>
				<button type="reset" class="btn btn-danger">Limpar Campos</button>
			</form>
		</div>
	</div>
	<!-- /.container-fluid-->
	<!-- /.content-wrapper-->
	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>Sistema de Gestão Escolar - 2018</small>
			</div>
		</div>
	</footer>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deseja realmente sair?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Selecione "Sair" para encerrar a Sessão atual</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="index.html">Sair</a>
				</div>
			</div>
		</div>
	</div>
 