#{extends 'Alunos/main_portal_aluno.html' /}
<meta charset="utf-8" />
	<div class="content-wrapper">
		<div class="container-fluid">
			<h1 align="center">Resultado da Busca</h1>
		<table class="table dataTable table-responsive-sm">
    		<tr>
				<th>Nome</th>
				<th>Matricula</th>
				<th>CPF</th>
				<th>Bairro</th>
				<th>Rua</th>
			</tr>
		<tr>
			<td>${professor.nome}</td>
			<td>${professor.matricula}</td>
			<td>${professor.cpf}</td>
			<td>${professor.bairro}</td>
			<td>${professor.rua}</td>
		</tr>
</table>
		</div>
	</div>

	