#{extends 'main-secretaria.html' /}
#{set title:'SGE - Adicionar professor' /}
<meta charset="utf-8" />

<div class="content">
	<div class="container-fluid">
		<div class="card">
			<div class="card-header card-header-primary">
				<h4 class="card-title">Adicionar um novo professor</h4>
			</div>
			<div class="card-body">
				<div id="typography">
					<div class="row">
						<div class="content">
							<div class="container-fluid">
								<div class="row">
									<div class="col-md-12">
										<div class="card">
											<div class="card-body">
												<form name="form1" action="@{Professores.salvarProfessor}" method="post">
													<div class="row">
														<div class="col-md-12">
														#{if professor?.foto?.exists()}
														   	<img height="150px" width="150px" src="@{Professores.fotoProfessor(professor.id)}"><br>
														   	<div class="form-group">
													            <div class="form-check">
													              <label class="form-check-label">
													              	<input class="form-check-input" type="checkbox" name="excluirFoto">Excluir Imagem
													              </label>
													            </div>
													        </div>
														   #{/if}
														   <br>
														   
														   <input type="file" value="${professor?.foto}" name="professor.foto">
															<div class="form-group">
																<input type="hidden" value="${professor?.id}"  name="professor.id">
																 <label
																	class="bmd-label-floating">Nome</label> <input
																	type="text" name="professor.nome" value="${professor == null ? flash['professor.nome'] : professor.nome}" class="form-control #{ifError 'professor.nome'} is-invalid#{/ifError}">
																	#{ifError 'professor.nome'}
													        	   <div class="invalid-feedback">#{error 'professor.nome' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Senha</label> <input
																	type="password" class="form-control #{ifError 'professor.senha'} is-invalid#{/ifError}" name="professor.senha" value="${professor == null ? flash['professor.senha'] : professor.senha}">
																#{ifError 'professor.senha'}
													        	   <div class="invalid-feedback">#{error 'professor.senha' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label class="bmd-label-floating">CPF</label> <input
																	type="text" name="professor.cpf" value="${professor == null ? flash['professor.cpf'] : professor.cpf}" class="form-control #{ifError 'professor.cpf'} is-invalid#{/ifError}">
																#{ifError 'professor.cpf'}
													        	   <div class="invalid-feedback">#{error 'professor.cpf' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-4">
															<div class="form-group">
																<label class="bmd-label-floating">Matricula</label> <input
																	type="text" name="professor.matricula" value="${professor == null ? flash['professor.matricula'] : professor.matricula}" class="form-control #{ifError 'professor.matricula'} is-invalid#{/ifError}">
															#{ifError 'professor.matricula'}
													        	   <div class="invalid-feedback">#{error 'professor.matricula' /}</div>  	   		 
													        	   #{/ifError}
															
															</div>
														</div>
														
														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">Rua</label> <input
																	type="text" name="professor.rua" value="${professor == null ? flash['professor.rua'] : professor.rua}" class="form-control #{ifError 'professor.rua'} is-invalid#{/ifError}">
															#{ifError 'professor.rua'}
													        	   <div class="invalid-feedback">#{error 'professor.rua' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-6">
															<div class="form-group">
																<label class="bmd-label-floating">Bairro</label> <input
																	type="text" name="professor.bairro" value="${professor == null ? flash['professor.bairro'] : professor.bairro}" class="form-control #{ifError 'professor.bairro'} is-invalid#{/ifError}">
															#{ifError 'professor.bairro'}
													        	   <div class="invalid-feedback">#{error 'professor.bairro' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label-floating">Tipo Vínculo</label> <input
																	type="text" name="professor.tipoVinculo" value="${professor == null ? flash['professor.tipoVinculo'] : professor.tipoVinculo}" class="form-control #{ifError 'professor.tipoVinculo'} is-invalid#{/ifError}">
															#{ifError 'professor.tipoVinculo'}
													        	   <div class="invalid-feedback">#{error 'professor.tipoVinculo' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														
														<div class="col-md-3">
															<div class="form-group">
																<label class="bmd-label">Data de Nascimento</label> <input
																	type="date" name="professor.dataNascimento" value="${professor == null ? flash['professor.dataNascimento'] : professor.dataNascimento}" class="form-control #{ifError 'professor.dataNascimento'} is-invalid#{/ifError}">
															#{ifError 'professor.dataNascimento'}
													        	   <div class="invalid-feedback">#{error 'professor.dataNascimento' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
														<div class="col-md-3">
															<div class="form-group">
																<label>Turma</label>
																<select name="professor.turma.id" class="form-control">
												 				<option>---Selecione a Turma---</option> 
																#{list items: turmas, as:'turma'}
																	<option value="${professor == null ? flash['professor.turma?.id'] : professor.turma?.id}" class="form-control #{ifError 'professor.turma?.id'} is-invalid#{/ifError}" ${(professor?.id !=null && professor?.turma?.id == turma.id)? 'selected':'' }>${turma.nomeTurma}</option>
																#{/list}
																</select>
																#{ifError 'professor.turma'}
													        	   <div class="invalid-feedback">#{error 'professor.turma' /}</div>  	   		 
													        	   #{/ifError}
															</div>
														</div>
													</div>


													<button type="submit" class="btn btn-success pull-right">Cadastrar</button>
													<button type="reset" class="btn btn-primary pull-right">Limpar
														Campos</button>
													<div class="clearfix"></div>
												</form>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	