#{extends 'main.html' /}
<meta charset="utf-8" />
	<div class="content-wrapper">
		<div class="container-fluid">
			<h1 align="center">Lista de Alunos</h1>
		<table class="table dataTable table-responsive-sm">
    		<tr>
				<th>Nome</th>
				<th>Matricula</th>
				<th>CPF</th>
				<th>Bairro</th>
				<th>Rua</th>
				<th>Alterar</th>
				<th>Remover</th>
			</tr>
	#{list items: aluno, as:'alunos'}
		<tr>
			<td>${alunos.nome}</td>
			<td>${alunos.matricula}</td>
			<td>${alunos.cpf}</td>
			<td>${alunos.bairro}</td>
			<td>${alunos.rua}</td>
			<td><a href="@{Alunos.editarAluno(alunos.id)}" class="btn btn-primary">Alterar Aluno</a></td>
			<td><a href="remover?id=${alunos.id}" class="btn btn-danger">Remover Aluno</a></td>
		</tr>
	#{/list}
</table>
	#{else}Nenhum Aluno adicionado!.#{/else}
		</div>
	</div>
	<!-- /.container-fluid-->
	<!-- /.content-wrapper-->
	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>Sistema de Gestão Escolar - 2018</small>
			</div>
		</div>
	</footer>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deseja realmente sair?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Selecione "Sair" para encerrar a Sessão atual</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="index.html">Sair</a>
				</div>
			</div>
		</div>
	</div>
	
	 