<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8" />
<meta name="keywords" content="sistema de gestão, escolar, educação" />
<meta name="description" content="Sistema de Gestão Escolar" />
<title>#{get 'title' /}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link
	href="@{'/public/bootstrap/vendor/bootstrap/css/bootstrap.min.css'}"
	rel="stylesheet">
<!-- Custom fonts for this template-->
<link
	href="@{'/public/bootstrap/vendor/font-awesome/css/font-awesome.min.css'}"
	rel="stylesheet" type="text/css">
<!-- Page level plugin CSS-->
<link
	href="@{'/public/bootstrap/vendor/datatables/dataTables.bootstrap4.css'}"
	rel="stylesheet">
<!-- Custom styles for this template-->
<link href="@{'/public/bootstrap/css/sb-admin.css'}" rel="stylesheet">
<link rel="icon" href="@{'/public/images/favicon-sge.png'}" />
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
	<!-- Navegação-->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		id="mainNav">
		<a class="navbar-brand" href="index.html">SGE - Sistema de Gestão
			Escolar</a>
		<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarResponsive"
			aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav navbar-sidenav" id="exampleAccordion">

				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Link"><a class="nav-link" href="#"> <span
						class="nav-link-text"> <img id="profile-img"
							style="border-radius: 50%" class="profile-img-card"
							src="@{'/public/images/avatar-professor.png'}" /></span>
				</a></li>

				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Link"><a class="nav-link" href="#"> <span
						class="nav-link-text"></span>
				</a></li>




				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Link"><a class="nav-link" href="portal_professor">
						<i class="fa fa-fw fa-home"></i> <span class="nav-link-text">Início</span>
				</a></li>

				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Components"><a
					class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
					href="#collapseComponents" data-parent="#exampleAccordion"> <i
						class="fa fa-fw fa-file"></i> <span class="nav-link-text">Meus
							Dados</span>
				</a>
					<ul class="sidenav-second-level collapse" id="collapseComponents">
						<li><a href="#">Dados Pessoais</a></li>
						<li><a href="#">Dados Institucionais</a></li>
					</ul></li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Example Pages"><a
					class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
					href="#collapseExamplePages" data-parent="#exampleAccordion"> <i
						class="fa fa-fw fa-pencil"></i> <span class="nav-link-text">Ensino</span>
				</a>
					<ul class="sidenav-second-level collapse" id="collapseExamplePages">
						<li><a href="#">Inserir Notas</a></li>
						<li><a href="#">Inserir frequência</a></li>
						<li><a href="#">Turmas</a></li>
						<li><a href="#">Horários de aula</a></li>
					</ul></li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Menu Levels"><a
					class="nav-link nav-link-collapse collapsed" data-toggle="collapse"
					href="#collapseMulti" data-parent="#exampleAccordion"> <i
						class="fa fa-fw fa-tasks"></i> <span class="nav-link-text">Tarefas</span>
				</a>
					<ul class="sidenav-second-level collapse" id="collapseMulti">
						<li><a href="#">Avaliações</a></li>
						<li><a href="#">Outros</a></li>
					</ul></li>
				<li class="nav-item" data-toggle="tooltip" data-placement="right"
					title="Link"><a class="nav-link" href="#"> <i
						class="fa fa-fw fa-link"></i> <span class="nav-link-text">SME
							- Modelo</span>
				</a></li>
			</ul>

			<ul class="navbar-nav ml-auto">

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown"
					href="#" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false"> <i class="fa fa-fw fa-bell"></i> <span
						class="d-lg-none">Avisos<span
							class="badge badge-pill badge-warning"></span>
					</span> <span class="indicator text-warning d-none d-lg-block"> <i
							class="fa fa-fw fa-circle"></i>
					</span>
				</a>
					<div class="dropdown-menu" aria-labelledby="alertsDropdown">
						<h6 class="dropdown-header">Novos avisos:</h6>
						<div class="dropdown-divider"></div>
					</div></li>
				<li class="nav-item">
					<form action="@{Professores.pesquisarAluno}"
						class="form-inline my-2 my-lg-0 mr-lg-2" method="post">
						<div class="input-group">
							<input class="form-control" type="text"
								placeholder="Pesquisar Aluno" name="busca"> <span
								class="input-group-append">
								<button class="btn btn-primary" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</span>
						</div>
					</form>
				</li>
				<li class="nav-item"><a class="nav-link" data-toggle="modal"
					data-target="#exampleModal"> <i class="fa fa-fw fa-sign-out"
						href="@{Application.index}"></i>Sair
				</a></li>
			</ul>
		</div>
	</nav>
	#{if flash.success}
	<div class="alert alert-success">
		<p align="center">${flash.success.raw()}</p>
	</div>
	#{/if}


	<!-- Mensagem de erro -->

	#{if flash.error}
	<div class="alert alert-danger">
		<p align="center">${flash.error.raw()}</p>
	</div>
	#{/if} #{doLayout /}
	<!-- /.container-fluid-->
	<!-- /.content-wrapper-->
	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>Sistema de Gestão Escolar - 2018</small>
			</div>
		</div>
	</footer>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i
		class="fa fa-angle-up"></i>
	</a>
	<!-- Logout Modal-->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Deseja
						realmente sair?</h5>
					<button class="close" type="button" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">Selecione "Sair" para encerrar a
					Sessão atual</div>
				<div class="modal-footer">
					<button class="btn btn-secondary" type="button"
						data-dismiss="modal">Cancelar</button>
					<a class="btn btn-primary" href="@{Application.index}">Sair</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Icon Cards-->
	<!-- /.container-fluid-->
	<!-- /.content-wrapper-->
	<footer class="sticky-footer">
		<div class="container">
			<div class="text-center">
				<small>Copyright © Your Website 2018</small>
			</div>
		</div>
	</footer>
	<!-- Bootstrap core JavaScript-->
	<script src="@{'/public/bootstrap/vendor/jquery/jquery.min.js'}"></script>
	<script
		src="@{'/public/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js'}"></script>
	<!-- Core plugin JavaScript-->
	<script
		src="@{'/public/bootstrap/vendor/jquery-easing/jquery.easing.min.js'}"></script>
	<!-- Page level plugin JavaScript-->
	<script src="@{'/public/bootstrap/vendor/chart.js/Chart.min.js'}"></script>
	<script
		src="@{'/public/bootstrap/vendor/datatables/jquery.dataTables.js'}"></script>
	<script
		src="@{'/public/bootstrap/vendor/datatables/dataTables.bootstrap4.js'}"></script>
	<!-- Custom scripts for all pages-->
	<script src="@{'/public/bootstrap/js/sb-admin.min.js'}"></script>
	<!-- Custom scripts for this page-->
	<script src="@{'/public/bootstrap/js/sb-admin-datatables.min.js'}"></script>
	<script src="@{'/public/bootstrap/js/sb-admin-charts.min.js'}"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


	<script type="text/javascript">
		$(document).ready(function() {
			$('#table').DataTable();
		});
	</script>

	#{get 'moreScripts' /}

</body>

</html>
